body {
    background-image: url("https://img1.wallspic.com/crops/7/8/4/4/7/174487/174487-cafe_esperanza_pondicherry-petalo-naturaleza-entorno_natural-hbrido_de_t_de_rosa-1920x1080.jpg");
    background-repeat: no-repeat;
    
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}

